@charset "utf-8";

/*navbar*/
.navbar{
    background-color:#333;
}
.sitelogo{
    font-size:1.8rem;
     font-weight:bold;
     font-family: 'Raleway', sans-serif;
}
.mypage{
    color:white;
}
.offer-badge{
    line-height:48px;
    margin-right:20px;
}
.offer-badge__count{
    margin-left:5px;
}

/*footer*/
.footer{
    background-color:#333;
    text-align:center;
    height:45px;
}
.footer-text{
    color:#fff;
    line-height:45px;
}


/*manga*/
.topcontent--manga{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.img_post{
    width:32.9%;
    margin-bottom:3rem;
    position:relative;
}
.img_post__img{
    width:100%;
    height:auto;
}
.banner--manga{
    width:100%;
    height:300px;
    background:url("../img/banner.jpg") no-repeat #83d2ed;
    background-size:contain;
    background-position:right;
}
.content-title{
    padding:20px 0px;
    font-weight:bold;
}
.title--manga{
    margin-top:60px;
}
.heading{
    padding:20px 0 5px;
    border-bottom:1px solid #333;
    margin:0 0 20px;
}
.img-post__info-btn{
    position:absolute;
    bottom:10px;
    right:10px;
}
.img_post__title{
    font-weight:bold;   
}
.img_post__author{
    color:#999;
}
.slide-wrapper{
    height:300px;
    width:60%;
    background-color:transparent;
    margin-left:5%;
    margin-top:5px;
}
ul{
    padding-left:0 !important;
    
}
.slider__img{
    width:416px;
    height:234px;
    margin:0 auto;
    
}
.latest{
    color:#fff;
    margin:5px 0 0 130px;
    font-size:1.3rem;
    font-weight:bold;
}
@media only screen and (max-width:1000px){
    .slide-wrapper{
        display:none;
    }
}



/*book*/
.topcontent--book{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.banner--book{
    width:100%;
    height:300px;
    background:url("../img/book.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}
.title--book{
    color:#fff;
    padding-top:80px;
}
.book_post{
    width:33%;
    margin:0;
    border-radius:0;
    height:200px;
    padding:5px;
}
.book_post, .book-info{
    font-family:dcsymbols, 游明朝, YuMincho, "ヒラギノ明朝 Pr6N";
}
.book-post__info-btn{
    position:absolute;
    bottom:10px;
    right:10px;
}
.book_post__advertisement{
    height:60%;
    overflow:hidden;
}
.book_post__author{
    color:#999;
}

.pagination{
    margin:20px auto;
}


/*createBook*/
.create--book{
    margin-top:20px;
    margin-bottom:20px;
}

/*createMganga*/
.preview{
    width:80%;
    height:80%;
}
.manga-post-btn{
    margin:20px auto;
} 


/*book詳細*/
.book-info h1,.book-info a, .book-info h3{
    margin:30px 0;
}
.book-info p{
    margin:50px 0;
    line-height:1.5;
}

/*漫画詳細*/
.img_post__item{
    width:80%;
    height:80%;
    margin-bottom:30px;
}
.manga-info h1,.manga-info a{
    margin:30px 0;
}
.delete-btn-wrapper{
    width:100%;
}


/*user*/
/*マイページ*/
.user-info{
    margin:30px 0;
}
.user-info__img{
    width:200px;
    height:200px;
}
.user-info__name{
    line-height:200px;
    padding-left:50px;
    font-size:2rem;
}
.gallery-heading{
    margin:10px 0;
    padding:5px 0;
    
}
.offer-box{
    border:1px solid rgba(0,0,0,.125);
}
.offer-user-name, .offer-status{
    line-height:50px;
    margin-bottom:0;
    font-size:1.3rem;
}
.others_name{
    display:inline-block;
}
.post-none p{
    margin:30px 0 30px 15px;
}
.offer-none{
    margin:30px 0 30px 15px;
}
.match-none p{
    margin:30px 0 30px 15px;
}
.offer-time{
    margin-left:20px;
    
}



/*chat*/
.message-template{
    display:none;
}
.message-list{
    margin-top:10px;
}
.message{
    margin:10px 0;
    width:60%;
    border-radius:10px;
}
.message__time{
    color:#888;
}
.message--received{
    background-color:#e7e7e7;    
}
.message--sent{
    background-color:#d9f3d8;
}
.message__body{
    margin-left:10px;
}
.message__img{
    margin-left:10px;
    border-radius:50%;
}
.message__user-name{
    font-weight:bold;
}
.message__time{
    padding-right:10px;
}